<!doctype html>
<html lang="en">
  <head>
    <title>Twig Form</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {% if isAdminLogin == true %}
        <h1>Admin
          {{loginHeaderText}}
        </h1>
      {% else %}
        <h1>{{loginHeaderText}}</h1>
      {% endif %}
      <form method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" id="username" name="username" type="text">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" name="password" type="password">
        </div>
        {{submitButtonHTML|raw}}
      </form>
      {{totalSiteLogins|number_format}}
    </div>

  </body>
</html>
